@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

/* setup custom properties */
:root {
	--bg-color: #61005a;
	--primary-color: #14ccb8;
	--secondary-color: #ffd940;
	--tertiary-color: #09b3a0;
	--link-color: green;
	--primary-font: "Libre Baskerville", serif;
	--secondary-font: "Arial", sans-serif;
	--animation: fadein 2s ease-in-out 0.2s 1 normal forwards;
	--line-height: 2rem;
}

/* data themes for houses */
[data-theme="Hufflepuff"] {
	--primary-color: #f7e13d;
}

[data-theme="Gryffindor"] {
	--primary-color: #d7180a;
}

[data-theme="Ravenclaw"] {
	--primary-color: #1b2197;
}

[data-theme="Slytherin"] {
	--primary-color: #00a23a;
}

/* set border box and all styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* apply body style */
body {
	font-family: var(--secondary-font);
	background: var(--bg-color);
	max-width: 1200px;
	margin: 0 auto;
}

/* apply heading styles */
h1,
h2 {
	font-family: var(--primary-font);
	color: var(--primary-color);
}

h1 {
	text-transform: uppercase;
}

h3 {
	font-family: var(--primary-font);
}

/* apply link style */
a {
	text-decoration: none;
	font-family: var(--primary-font);
	color: var(--link-color);
}

a:hover {
	color: var(--tertiary-color);
}

/* button styles */
button {
	padding: 0.5rem;
	margin: 0rem;
	border: 0;
}

button:hover,
button:focus {
	background: var(--primary-color);
}

button:focus {
	outline: 2px solid var(--secondary-color);
	outline-offset: -6px;
}

button:active {
	transform: scale(0.9);
}

/* main grid wrapper */
.container_grid {
	display: grid;
	grid-template-columns: 1fr;
}

/* header style */
header {
	text-align: center;
	margin-top: 3rem;
}

/* student stats grid */
.student_stats {
	display: grid;
	background-color: hotpink;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin: 2rem;
	padding: 2rem;
	box-shadow: 14px 13px 0px -4px var(--tertiary-color);
}

/* filter section style */
.student_house_filter {
	grid-template-columns: 1/-1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 1rem;
	padding: 2rem;
}

.student_house_filter h3 {
	grid-template-columns: 1/-1;
	background: yellow;
}

/* table heading style */
th {
	grid-column: 1 / -1;
}

/* student list grid */
#student_section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin: 2rem;
}

/* single student style */
.single_student {
	background: var(--secondary-color);
	display: grid;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 14px 13px 0px -4px var(--tertiary-color);
}

/* modal background */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.5);
	/* Black w/ opacity */
}

/* modal content */
.modal_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: #fff;
	margin: auto;
	padding: 2rem;
	border: 1.5rem solid var(--primary-color);
	width: 80%;
}

.modal_content .close {
	grid-column: -1;
	grid-row: 1;
}

.modal_crest {
	grid-column: 1;
	grid-row: 1;
	height: 100px;
	width: auto;
}

.modal_image {
	grid-column: 2;
}

.modal_first_name,
.modal_middle_name,
.modal_last_name,
.modal_nick_name,
.modal_blood,
.modal_house {
	grid-column: 3/4;
}

.modal_name {
	font-family: var(--primary-font);
}

.modal_house {
	color: var(--tertiary-color);
	margin-top: 0.5rem;
}

/* modal close button */
.close {
	color: var(--tertiary-color);
	float: right;
	font-size: 4rem;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* hide class for modal */
.hide {
	display: none;
}
