@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

/* setup variables*/
:root {
  --bg-color: #61005a;
  --primary-color: #14ccb8;
  --secondary-color: #ffd940;
  --tertiary-color: #09b3a0;
  --link-color: green;
  --theme: darkred;
  --theme-gryffindor: hotpink;
  --theme-hufflepuff: red;
  --theme-ravenclaw: green;
  --theme-slytherin: orange;
  --primary-font: "Libre Baskerville", serif;
  --secondary-font: "Arial", sans-serif;
  --animation: fadein 2s ease-in-out 0.2s 1 normal forwards;
  --line-height: 2rem;
}

/* set border box and all styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--secondary-font);
  background: var(--bg-color);
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  font-family: var(--primary-font);
  color: var(--link-color);
}

a:hover {
  color: var(--tertiary-color);
}

.container_grid {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  text-align: center;
  margin-top: 3rem;
}

#student_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 2rem;
}

.single_student {
  background: var(--secondary-color);
  margin: 1rem;
  padding: 1rem;
  box-shadow: 14px 13px 0px -4px var(--tertiary-color);
}

/* modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* modal content */
.modal_content {
  background-color: #fff;
  margin: auto;
  padding: 2rem;
  border: 0.5rem solid var(--primary-color);
  width: 80%;
}

.modal_name {
  font-family: var(--primary-font);
}

.modal_house {
  color: var(--tertiary-color);
  margin-top: 0.5rem;
}

/* close button */
.close {
  color: var(--tertiary-color);
  float: right;
  font-size: 4rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
